* {
  font-size: 20px;
}

body {
  padding-top: 20px;
}

.btn {
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  width: 700px;
  margin: auto;
}

.div {
  padding-left: 20px;
}

#style-6::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.scrollbar {
  float: left;
  height: 700px;
  width: 800px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 400px;
}
